* {
    padding: 0;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    font-family: 'Tauri';
}

.page-title {
    font-size: 35px;
}

#search-bar {
    width: 130px;
    height: 18px;
    border-radius: 18px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(246, 246, 246);
    cursor: pointer;
    padding-left: 8px;
    font-size: 10px;
}

.inputs {
    margin-bottom: 10px;
}

#artist-title {
    font-size: 25px;
    margin-bottom: 5px;
}

#ol-div {
    list-style-position: inside;
    justify-content: center;
    display: flex;
}


.page-title, .inputs, #artist-title {
    text-align: center;
}

.btn {
    margin-left: 5px;
    font-size: 11px;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(191, 212, 255);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(121, 166, 255);
    color: white;
}

#search-bar:hover {
    background-color: rgb(255, 255, 255);
}